

<!--<div class="well misantismog{Livello} level{Livello}">
	<a href="{urlpaginaantismog}" class="hvr-wobble-vertical">
		<div class="">Protocollo Misure Antismog</div>
		<div class=""><strong>LIVELLO {Livello} - {LivelloDescrizione}</strong></div>
		<img src="{IMGBASEURL}ICO_Antismog.png" />
	</a>
</div>-->

<!-- BEGIN livello0 -->
<div class="itemH2 alert alert-success level0">
	<a href="{urlpaginaantismog}" class="hvr-wobble-vertical">
		<img src="{IMGBASEURL}Antismog_L1.png" class="iconsmog" />
		<div class="ts">Protocollo Misure Antismog</div>
		<div class="ts"><strong>LIVELLO {Livello} - {LivelloDescrizione}</strong></div>
	</a>
</div>
<!-- END livello0 -->

<!-- BEGIN livello1 -->
<div class="itemH2 alert alert-warning level1">
	<a href="{urlpaginaantismog}" class="hvr-wobble-vertical">
		<img src="{IMGBASEURL}Antismog_L2.png" class="iconsmog" />
		<div class="ts">Protocollo Misure Antismog</div>
		<div class="ts"><strong>LIVELLO {Livello} - {LivelloDescrizione}</strong></div>
	</a>
</div>
<!-- END livello1 -->


<!-- BEGIN livello2 -->
<div class="itemH2 alert alert-danger level2">
	<a href="{urlpaginaantismog}" class="hvr-wobble-vertical">
		<img src="{IMGBASEURL}Antismog_L3.png" class="iconsmog" />
		<div class="ts">Protocollo Misure Antismog</div>
		<div class="ts"><strong>LIVELLO {Livello} - {LivelloDescrizione}</strong></div>
	</a>
</div>
<!-- END livello2 -->


