@font-face {
    font-family: 'font-awesome-brands';
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-brands-400.eot');
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-brands-400.woff') format('woff'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-brands-400.ttf') format('truetype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-brands-400.svg#font-awesome-brands') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font-awesome-light';
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-light-300.eot');
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-light-300.eot?#iefix') format('embedded-opentype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-light-300.woff') format('woff'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-light-300.ttf') format('truetype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-light-300.svg#font-awesome-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font-awesome-solid';
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-solid-900.eot');
    src: url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-solid-900.woff') format('woff'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-solid-900.ttf') format('truetype'),
         url('kAssetsUSR/fontawesome-pro-5.3.1-web/webfonts/fa-solid-900.svg#font-awesome-solid') format('svg');
    font-weight: normal;
    font-style: normal;
}