
.dbg-container {

	margin: 10px;

	border: 1px solid red;
}

.dbg-header {

	padding: 5px 0 1px 20px;
}

.dbg-header > div {

	display: inline;
	margin-right: 20px;
}

.dbg-header label {

	font: {base-font-size} helvetica, arial, sans-serif;
}

.dbg-item {

	border: 1px solid #666;
	padding: 2px;

	font: {base-font-size} helvetica, arial, sans-serif;
	color: #2B2B2B;
}

/* link per next panel */

.dbg-item .dbg-link-next {

	float: right;

	font-size: 17px;
	color: black;
	font-weight: bold;
	text-decoration: none;

	padding: 2px 15px;

	border-radius: 6px;
}

.dbg-item .dbg-link-next:hover {

	background-color: rgb(235, 203, 163);
}

/* 		kindVariableDump = 1, */
.dbg-item.dbg-message-kind-1 { background-color: white; }

/*		kindPHPError = 2 */
.dbg-item.dbg-message-kind-2 { background-color: #fbd0ca; }

/* 		kindParametersCheck = 5, */
.dbg-item.dbg-message-kind-5 { background-color: white; }
.dbg-item.dbg-message-kind-5 .dbg-item-content { max-width: 100%; width: 100%; }
.dbg-item.dbg-message-kind-5 table { width: 100%; font-family: consolas, monospace; }
.dbg-item.dbg-message-kind-5 table th { text-align: center; padding: 3px 0; background-color: rgb(234, 237, 246); }
.dbg-item.dbg-message-kind-5 table td.dbg-c { text-align: center; }


.dbg-clear { clear: both; }

/* blocchi principali: content e stacktrace */

.dbg-item-stacktrace {

	margin: 0 10px 0 0;

	background-color: white;

	font-family: consolas, monospace;

	__border: 1px solid #64bb6f;
	float: left;

	max-width: 50%;
}

.dbg-item-stacktrace a {

	text-decoration: none;
}

.dbg-item-stacktrace a:hover {

	background-color: rgb(252, 239, 148);
}

.dbg-item-content {
	__border: 1px solid #c1a58c;
	float: left;
	max-width: 50%;
}


/*  tutti i componenti del filepath nello stack dump */
.dbg-filepath {

	font-family: consolas, monospace;
	word-wrap: break-word;
}

/* comando apertura/chiusura */
a.dbg-stack-openclose,
a.dbg-stack-openclose:link,
a.dbg-stack-openclose:visited,
a.dbg-stack-openclose:hover,
a.dbg-stack-openclose:active {

	/*font-family: consolas, monospace;*/
	text-decoration: none;
	color: black;
}

a.dbg-stack-openclose:hover { color: #7288aa; }

/* contenuto degli altri stack frame */
.dbg-stack-previous {
	display: none;
}

/* ellipsis del filepath */
.dbg-trailing {}

/* ellipsis dell'espansione stringa */
.dbg-trailing-open {

	color: #999;
	border: 1px solid #ccc;
	padding: 0 3px;
	background-color: rgb(246, 247, 181);
	border-radius: 3px;
}

/* componente del path */
.dbg-filepath-component, .dbg-trailing, .dbg-filepath-separator {

	color: #999;
}

.dbg-filepath-filename {

	color: black;
}

/* linea stackdump */
.dbg-lineno {

	font-weight: bold;
	color: #4288CE;
}

/* se non identifica la linea */
.dbg-nolineno {}

/* tutti i componenti della invocazione di funzione */
.dbg-functioncall {

	font-family: consolas, monospace;
	word-wrap: break-word;
}

.dbg-classname {}
.dbg-invocation {}
.dbg-functionname {}
.dbg-funcparameters {}

/* tutti i componenti dump variabile */
.dbg-varkind, .dbg-value {

	font-family: consolas, monospace;
}

.dbg-varkind { color: #aaa; }

.dbg-varkind-string, .dbg-varkind-integer, .dbg-varkind-float {}

.dbg-varkind-object, .dbg-varkind-resource, .dbg-varkind-array {
	font-style: italic;
}

/* separatori [] o () e separatore ',' */
.dbg-varkind-array-container, .dbg-varkind-array-separator {
	font-style: normal;
}

.dbg-varvalue-null, .dbg-varvalue-boolean {
	font-weight: bold;
}

.dbg-varkind-unknown {
	background-color: #ECD0D0;
}

.dbg-varkind-number, .dbg-varkind-integer, .dbg-varkind-float, .dbg-varkind-date {}

.dbg-value-arraykey, .dbg-value-classname {}
.dbg-keytoval { font-family: consolas, monospace; color: #aaa; }

.dbg-value-object {

	font-family: consolas, monospace;
	forn-size: 80%;
}

.dbg-string {}

.dbg-string-container {

	word-break: break-all;

	-moz-transition:background-color .2s ease-in;
	-o-transition:background-color .2s ease-in;
	-webkit-transition:background-color .2s ease-in;

	background-color: transparent;
}

.dbg-string-container:hover {

	background-color: #f5a572;
}

.dbg-string-overflow { display: none; }

a.dbg-string-show,
a.dbg-string-show:link,
a.dbg-string-show:visited,
a.dbg-string-show:hover,
a.dbg-string-show:active {

	text-decoration: none;
	color: black;
}

.string-char.space, .string-char.tab, .string-char.cr { color: #aaa; }

.dbg-mark {

	font-family: consolas, monospace;
	font-weight: bold;

	color: #d24d5f;
	background-color: #FFEA00;
}

.dbg-copybutton {

	cursor: pointer;
}

.dbg-varkind-string {

	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
.dbg-varkind-string.done { background-color: #d1d1d1; color:#fff;  }

/* output errori */

.dbg-error {

	font-family: consolas, monospace;
}

.dbg-error-code {

	font-weight: bold;
}
.dbg-error-text {}

/* output assert */

.dbg-assert {

	font-family: consolas, monospace;
}

.dbg-assert-title {

	color: red;
	font-weight: bold;
}

.dbg-assert-message {}

/* output note */

.dbg-note {

	font-family: consolas, monospace;
}

.dbg-note-title {

	color: red;
	font-weight: bold;
}

.dbg-note-message {

	white-space: pre;
}
