div.ui-dialogoverlay {

	opacity:0.4;filter:alpha(opacity=40);
	background-color: #333;
}

div.ui-dialog {

	margin: 0;
	padding: 0;

	font-size: 90%;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

div.ui-dialog div.inner{border: 1px solid #3B5998;}

div.ui-dialog h2 {
        margin: 0; padding: 4px 10px;
        font-size: 1em;
        color: #fff;
        background-color: #6D84B4;
        text-align: left;
}
div.ui-dialog div.content {
        color: #333;
        background-color: #fff;
        padding: 10px 10px;
}

div.ui-dialog div.buttons {
	color: #333;
	background-color: #ECEFF5;
	padding: 10px 20px 10px 10px;
	text-align: right;
	border-top: 1px solid #3B5998;
}

div.ui-dialog span.button { margin: 0 10px 0 0; cursor: pointer; }
div.ui-dialog span.button a {
	display: inline-block;
	padding: 2px 6px;
	color: white;
	background-color: #4C629D;
	font-weight: normal;
	border-top: 1px solid #7788B7;
	border-right: 1px solid #4C629D;
	border-bottom: 1px solid #4C629D;
	border-left: 1px solid #4C629D;
	text-decoration: none;  
}

div.ui-dialog span.button.cancel a {
	color: #333;
	background-color: white; 
	border: 1px solid #888;
}
