html, body { /* height: 100%; */  min-height:100%;}


#AdminIndexPopUpBody {
	color: #000000;
	background-color: #f1f1f1;
	margin: .5em; padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .9em;
}



#AdminIndex{
	color: #000000;
	background-color: #f1f1f1;
	width: 100%;
	border-left: 1px solid #97cff1;
	border-bottom: 1px solid #97cff1;
	border-right: 1px solid #97cff1;
}

#AdminIndexTreePanel {
	float: left;
	padding: .4em;
	border-right: 1px solid #97cff1;
	color: #000000;
	background-color:#ecf8ff;

}
.AdminIndexTreeBtn{border-bottom: 1px solid #97cff1;}
.AdminIndexTreeBtn a img{ border: none; }

#AdminIndexParsPanel {
	float: left;
	padding: .4em;
	margin-left: -1px;
	width: 65%;
        border-left: 1px solid #97cff1;
}

.AdminIndexBasePars{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: .8em;
 margin-right: 2em;
}

.AdminIndexBaseParsTable tr td {
 white-space:nowrap;
 text-align:left;
 color: #000000; background-color: #d2d2d2;
 border: 1px solid #ffffff;
}
.AdminIndexBaseParsTable tr th {
 white-space:nowrap;
 font-weight:normal;
 text-align:left;
 width: 14em;
 font-size: 1.2em;
 color: #000000; background-color: #d2d2d2;
 border: 1px solid #ffffff;

}

.AdminIndexPageTypeSelector{
 margin: 0 0 .5em 0; padding: .5em;
}
#PageSelector{
 height: 25em;
 overflow:visible;
 margin: 0; padding: 0;
}
#FlexPageSelector{
 width: 95%;
 height: 24em;
 margin: 0; padding: 0;
 color: #000000;
 background-color:#f1f1f1;
 }
#FlexPageSelector iframe{
 margin: 0; padding: 0;
 overflow:hidden;
}

.AdminIndexPageTypeSelector div{margin-bottom: .3em;}

.AdminIndexPageTypeSelector h2{
 margin: 0 0 .5em 0; padding: 0; font-weight: bold; font-size: 1.1em;
}

#AdminIndexLinkList {
 height: 100px;
 overflow-y: scroll;
 border: 1px solid #2d4a82;
 color: #000000;
 background-color: #ffffff;
}

#AdminIndexLinkList ul{
 margin: 0;
 padding: 0 0 0 1em;
}

#AdminIndexLinkList ul li {
 margin: .5em;
 padding: 0;
}
#AdminIndexLinkList ul li a {
 color: #000000;
/* background-color:#FFFFFF;*/
 text-decoration:underline;
}

#AdminIndexLinkList ul li a:hover, #AdminIndexLinkList ul li a:active {
 color: #000000;
background-color:#CAE4FF;
}

#AdminIndexLinkList li.cur {
	background-color: #D0BE08;
}

.PageSelected {
	font-weight: bold;
}

.AdminIndexPageTypeSelector ol {
 list-style-type: none;
 margin: 0; padding: 0;
}

.AdminIndexPageTypeSelector ol li {
 display: inline;
}


A.IndexPanelElementSel{
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #FFDD1A;
	border: 1px solid #2d4a82;
	padding: 0 2em;
}
A.IndexPanelElementUnsel{
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #2d4a82;
	padding: 0 2em;
}

#Page, #PHP, #FP {
}

/* XTree */

.webfx-tree-container {
	margin: 0px;
	padding: 0px;
	font: icon, sans-serif;
	white-space: nowrap;
}

.webfx-tree-item {
	padding: 0px;
	margin: 0px;
	font: icon, sans-serif;
	color: black;
	white-space: nowrap;
}

.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 1px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
	width: 100%;
}

.webfx-tree-item a:link {
	color: black;
	text-decoration: none;
	width: 100%;
}

.webfx-tree-item a:visited {
	color: black;
	text-decoration: none;
	width: 100%;
}

.webfx-tree-item a:hover {
	color: blue;
	text-decoration: none;
	width: 100%;
}

.webfx-tree-item a:active {
	background: highlight;
	color: highlighttext;
	text-decoration: none;
	width: 100%;
}

.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}

.webfx-tree-icon {
	width: 16px;
	height: 16px;
}
