
/*
	ATTENZIONE: questo file è processato dalla ServeCSS, quindi i path nelle url() non vanno messi relativi
*/

/*--@processurl off */

.jsShow, .jsShowB {display: none;}
.jsHide {}


/*
		Nota per elementi obsoleti (backoffice)
*/

.blobObsolete {
	border: 1px solid red;
	padding: 2px 10px;
	margin: 0px 5px 3px 5px;
	background-color: #F898A4;
}

/* -------- INIZIO modifiche Castelli 4-5-6-10-26.IV.07: compatibilità FF/IE6/IE7 ------ */

div.BLOBFloatClear {
	height:1px; clear:both; width:100%;
	line-height:.05em; font-size:.05em;
}
textarea.FlexEditAdminField {
	width:30px; height:15px;
	position:relative; top:5px;
}
textarea {
	font-size:1em; font-family:Verdana, Arial, Helvetica, sans-serif;
}
div.PEMMDescBlock textarea.editPar {
	font-size:1em;
}
table.editTable textarea {
	font-size:.8em;
}
table.editTable textarea.editTableCellText {
	font-size:.75em;
}
table.editTable textarea.editTableHCCellText,
table.editTable textarea.editTableHRCellText {
	font-size:.75em; font-weight:bold; text-align:center;
}
div.PEChannelListTemplateBlock {
	width:auto;
}
div.FieldSetContent a, div.PEFormMailProcBlock a {
	color:#CC0000; font-weight:bold;
}
div.FieldSetContent a:hover {
	text-decoration:none;
}
input.AdminIco,
div.PEDWFileBlock input.AdminIco {
	position:relative; top:4px; border:none;
}






div.PEImpPageDataBlock,
div.PERSSDataBlock,
div.PEMMSizeBlock,
div.PELinkLinkBlock,
div.PEVideoTFBlock,
div.PEVideoSizeBlock,
div.PERSSTemplateBlock,
div.PERSSTemplateBlock fieldset {
	margin-left:10px;
}

div.PEWarningText {
	background-color: #FFC3C3; font-size: .75em; padding: .2em 1em;
}
div.PEMMDescBlock {
	float:none;
}
div.PageElementData div.BLOBWidthN2  {
	margin-left:5px; width:48%;
}
div.PageElementData div.BLOBWidthN3  {
	margin-left:5px; width:32%;
}
div.PageElementData div.BLOBWidthN4  {
   margin-left:5px; width:24%;
}
div.PageElementData div.BLOBWidthN5  {
	margin-left:5px; width:19%;
}
div.PageElementData div.BLOBWidthN6  {
	margin-left:5px; width:15%;
}
div.PageElementData div.BLOBWidthN7  {
	margin-left:5px; width:13%;
}
hr.editHR {
	padding:8px 0 !important; padding:0;
	position:relative !important; position:static;
	top:8px !important; top:0;
	left:-2px !important; left:0;
}
div.PageElementTitleRowMC fieldset legend span,
div.PageElementBox fieldset legend.PageElementLegend span {
    position:absolute; top:-1000em;
}
div.PageElementTitleRow,
div.PageElementTitleRow2Col,
div.PageElementTitleRowNamedCont,
div.PageElementTitleRowCondCont {
	position:relative; width:100%;
}
div.PageElementTitleRowMC {
	position:absolute; right:10px; top:0; width:28em;
}

/* -------- FINE modifiche Castelli 4-5-6-10-26.IV.07: compatibilità FF/IE6/IE7 ------ */



body {
	color: #000000;	background-color: #FFFFFF;
	margin: 0; padding: 0;
	font-size: 100%; font-family: Verdana, Arial, Helvetica, sans-serif;
}
body  input, body  textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.FlexEditTextAreaJumper{
	position: absolute;	left: -1000em;
}
.FlexEditTextAreaButtons{
	width: 4%;
}
.FlexEditTextAreaButtons img, .FlexEditTextAreaButtons input{
	border: none;	margin: 0 0 2px 2px;
}

.FlexEditTextArea{
	float: right;	width: 97%;
	font-size: 1.1em;	line-height: .9em;
}
.editTable .FlexEditTextArea{width: 95%;}
.editorLite{
	width: 94%;	border: 1px solid #9BA7B5;	padding: 1px;
	min-height:50px;
}
.editorLite p{
	margin: 0; padding: 0;
}
.FlexEditorGoAway{
	position: absolute;	left: -1000em;
}

/* ------------------ Blocco Editor (a fianco della ToolBar) ------------------ */
#FlexEditMainPane{
	font-size: 100%;margin: 0 3px 0 11em;
}
.flexEdit.dropTarget {
	height: 2px;
	border-width: 0 1px 1px 1px;	border-color: #9BA7B5;	border-style: solid;
	font-size: .1em; line-height: .1em;
}

/* -- Elementi di intestazione -- */
#PageInfoModello{
	background-image: url(TemplatesCM-img/visualEditor/PageInfoModello-sfondo.gif);
	color: #000000;	background-color: transparent;
	margin: 0; padding: 0;
	border-bottom: 1px solid #9BA7B5;
}
#PageInfoModello legend{
	color: #FFFFFF;
	padding: 0 0 6px 0;
}
#PageInfoModelloFieldset{
	margin: 0 0 0 25px; padding: 0;
	border: none;
}
#PageInfoModello .FieldSetContent{
	background-image: none;	padding: .5em;
	color: #000000;	background-color: #CEE4F8;
}
#PageInfoModelloGroupBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 0 .4em 0;
}
#PageInfoModelloGroupBlock fieldset legend{
	color: #000000;	background-color: #CEE4F8;
}
#PageInfoValidazioniTitle{
	background-image: url(TemplatesCM-img/visualEditor/PageInfoTitle-sfondo.gif);
	color: #000000;	font-weight:bold;
	padding: 0 0 0 1em;
}
#PageInfoValidazioni{
	background-color: transparent;
	margin: 0; padding: 0;
	border-width: 1px 1px 0px 1px;	border-style: solid;	border-color: #9BA7B5;
	font-size: .7em;
}
#PageInfoValidazioniTitle{
	background-image: url(TemplatesCM-img/visualEditor/PageInfoTitle-sfondo.gif);
	color: #000000;
	font-weight:bold;
	padding: 0 0 0 1em;
}
#PageInfoValidazioniBlock{
	padding: 0 0 0 2em;
	color: #000000;	background-color: #FFC3C3;
}
.PageInfoBox {
	 margin: 0; padding: 0;
	 color: #002C82; background-color:#fff7c2;
	 border: 1px solid #9BA7B5;
	 font-size: .7em;
}
#PageInfoBoxFieldset{
	margin: 0; padding: 0;	border: none;
}
#PageInfoPermessi, #PageInfoTitoli,
#PageInfoWorkflow,  #PageInfoCanali,
#PageInfoStrillo {
	background-image: url(TemplatesCM-img/visualEditor/PageInfoTitle-sfondo.gif);
	color: #002C82;	background-color: transparent;
	margin: 0; padding: 0;
}
#PageInfoPermessi legend, #PageInfoTitoli legend,
#PageInfoWorkflow legend, #PageInfoCanali legend,
#PageInfoStrillo legend{
	color: #000000;	background-color: transparent;
	padding: 2px 0 4px 0;
}
.PageInfoPropertyButton{
	 width: 22px; height: 20px;
	 border: none; float:left;
}
#PageInfoTitoli textarea{
	vertical-align:top;
}
#PageInfoTitoli textarea, #PageInfoTitoli input, #PageInfoTitoli select {
	border: 1px solid #f0c404;
}
#PageInfoTitoliFBlock input{
	border: none;
}
#PageInfoPermessiFieldset, #PageInfoTitoliFieldset,
#PageInfoWorkflowFieldset, #PageInfoCanaliFieldset,
#PageInfoStrilloFieldset{
	margin: 0; padding: 0;	border: none;
}
#PageInfoPermessi fieldset span, #PageInfoTitoli fieldset span,
#PageInfoWorkflow fieldset span, #PageInfoCanali fieldset span,
#PageInfoStrillo fieldset span{
	white-space: nowrap;
}
#PageInfoPermessi fieldset span input, #PageInfoPermessi fieldset span select,
#PageInfoWorkflow fieldset span input, #PageInfoCanali fieldset span input {
	vertical-align: middle;
}
#PageInfoPermessi .FieldSetContent, #PageInfoTitoli .FieldSetContent,
#PageInfoWorkflow .FieldSetContent, #PageInfoCanali .FieldSetContent,
#PageInfoStrillo .FieldSetContent{
	background-image: none;	padding: 0 .3em 0 .3em;
	color: #002C82;	background-color:#fff7c2;
}

#PageInfoCanali span{
	white-space: nowrap;
}
#PageInfoTitoliTitolo{
	padding: .3em 0 0 0;
	margin: 0 0 .3em 0;
}

#PageInfoTitoliTelaio, #PageInfoTitoliStato{
	border: 1px solid #9BA7B5;
	width: 49.5%;
	padding: 0 0 .4em 0;
}
#PageInfoTitoliTelaio{
	float:left;
	border: 1px solid #f0c404;
}

#PageInfoTitoliStato{
	text-align:center;
	border: 1px solid #f0c404;
	line-height: 1.4em;
}
#PageInfoTitoliTelaio select, #PageInfoTitoliStato input{
	vertical-align: middle;
}
#PageInfoTitoliTelaio select{
	border: 1px solid #7F9DB9;
}
#PageInfoTitoliImmagine{
	border: 1px solid #f0c404;
}
#PageInfoTitoliFBlock{
	padding: 0 0 .3em 0;
}
#PageInfoWorkflowBlock{
	padding: 0 0 .3em 0;
}
#PageInfoWorkflowApprovazione{
	border: 1px solid #f0c404;
	width: 18%;
	padding: 0 0 .4em 0;
	text-align:center;
}
#PageInfoPermessiBlock{
	padding: 0 0 .3em 0;
}
#PageInfoWorkflowDal, #PageInfoWorkflowAl, #PageInfoDataEventoDal, #PageInfoDataEventoAl {
	width: 40%;
	border: 1px solid #f0c404;
	padding: 0 0 .4em 0;
}
#PageInfoWorkflowDal, #PageInfoDataEventoDal {
	float:left;
}
#PageInfoWorkflowDal span, #PageInfoWorkflowAl span {
	white-space:nowrap;
}
#PageInfoWorkflowDal select, #PageInfoWorkflowAl select{
	vertical-align:middle;
}
#PageInfoDataEvento{
border: 1px solid #f0c404;
}
#PageInfoCanaliTitBlock, #PageInfoCanaliTesBlock{
	border: 1px solid #f0c404;
	padding: 0 0 .3em 0;
}
#PageInfoCanaliTitBlock .editorLite, #PageInfoCanaliTesBlock .editorLite{
	font-size: 1em;
}
#PageInfoCanaliTesBlock{
	margin: 0 0 .3em 0;
}
#PageInfoCanaliImgBlock{
	border: 1px solid #f0c404;
	padding: 0 0 .3em 0;
}
#PageInfoCanaliBlock{
	padding: 0 0 .3em 0;
	width: 97%;
}


/* -- Label oggetti di pagina nella definzione dei modelli */
.PETemplateLabel{
	margin: 0 0 0 4em; display: inline;
}
.PETemplateLabel span{
	white-space:nowrap;
}
.PETemplateLabel input{
	border: 1px solid #7F9DB9;
}

/* -------------------------------------- Elementi di pagina -------------------------------------- */
.PageElementBox {
	margin: 0; padding: 0;
	color: #000000;	background-color:#F2F8FE;
	border-width: 0px 2px 1px 2px;	border-color: #81ceff;	border-style: solid;
	font-size: .7em;
}
.PageElementBox fieldset {
	 margin: 0; padding: 0; border: none;
}
.PageElementLegend {
	position:absolute;	top:-1000em;
}
/* -- Elementi di pagina - Riga di intestazione -- */
.PageElementTitleRow{
	background-image: url(TemplatesCM-img/visualEditor/ElementTitle-sfondo.gif);
	color: #000000;	background-color: #BAD0E8;
}
.PageElementTitleRowIcons {
}
.PageElementTitleRow2Col {
	background-image: url(TemplatesCM-img/visualEditor/ElementTitle-sfondo-2col.gif);
	color: #FFFFFF;	background-color: #0C2B68;
}
.PageElementTitleRowNamedCont{
	background-image: url(TemplatesCM-img/visualEditor/ElementTitle-sfondo-namedcont.gif);
	color: #FFFFFF;	background-color: #125D05;
}
.PageElementTitleRowCondCont{
	background-image: url(TemplatesCM-img/visualEditor/ElementTitle-sfondo-condcont.gif);
	color: #FFFFFF;	background-color: #890000;
}
.PageElementTitleRow img, .PageElementTitleRow input,
.PageElementTitleRow2Col img, .PageElementTitleRow2Col input,
.PageElementTitleRowNamedCont img, .PageElementTitleRowNamedCont input,
.PageElementTitleRowCondCont img, .PageElementTitleRowCondCont input {
	vertical-align:middle;	margin: 1px 2px 2px 0;
}
.PageElementTitleRowMC{
	display:inline;
}
.PageElementTitleRowMC fieldset{
	width: 27em;	border: none;
	padding: 0 0 0 .5em; margin: 0;
}
.PageElementTitleRowMC fieldset legend{
	position:absolute;	top: -1000em;
}

/* -- Elementi di pagina - Opzioni Mostra/Nascondi -- */
.PageElementOptions{
	margin: 0 0 0 3px;	padding: 1px 1px 1px 4px;
	border-top: 1px solid #FFFFFF;	border-right: 0px solid #FFFFFF;
	border-bottom: 1px solid #9BA7B5;	border-left: 1px solid #9BA7B5;
	color: #000000;	background-color: #BAD0E8;
	clear:both;
}
.PageElementOptions input, .PageElementOptions select{
	vertical-align:middle;
}

/* -- Elementi di pagina - Validazione -- */
.PageElementValidation{
	color: #000000;	background-color: #FFC3C3;
}
.PageElementValidation ul{
	margin: 0; padding: 0 0 0 2em;
	list-style-type:none;
}
.PageElementValidationWarning, .PageElementValidationFatal{
}

/* -- Elementi di pagina - Corpo -- */
.PageElementData{
	margin:1px; font-size: 1.3em; clear:both;
}
.PageElementDataOptLabel{
	position: absolute;	top: -1000em;
}
.PESizeReset{
	font-size: 1.4em;
}

/* Oggetto Titolo */
.editTitolo{
 	border: 1px solid #9BA7B5;
}

/* Oggetto Sottotitolo */
.editSottotitolo{
 	border: 1px solid #9BA7B5;
}


/* blocco generico con fieldset bordato largo 100% con legenda */
.PEWLegend{font-size: .75em;}
.PEWLegend fieldset{ border: 1px solid #9BA7B5; padding: .5em; margin: 0 0.5em;}
.PEWLegend fieldset legend{color: #000000;	background-color:#F2F8FE;}
.PEWLegend input {border: 1px solid #7F9DB9; margin: 1px; vertical-align: middle;}
.PEWLegend select {vertical-align: middle;}

.PEW100 fieldset {width: 97%; clear: both;}
.PEW70 fieldset {float: left; width: 67%}
.PEW30 fieldset {float: left; width: 28%}


/* Oggetto Sottotitolo + Par + Img */
.PEImgParImgBlock{
	float: left; 	width: 34%;
	margin: 0 1% 0 1%;	font-size: .75em;
}
.PEImgParTxtBlock{
	float: left; 	width: 62%;	margin: 0;
}
.PEImgParImgBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5%;
}
.PEImgParImgBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}

/* Oggetto Linea di Separazione */
.PESeparatorOpt a {
	vertical-align:middle;	margin: 0 2px 0 2px;
}

/* Oggetto Immagine */
.PEImgBlock { min-width: 17em; }
.PEImgBlock fieldset {
	 border: 1px solid #9BA7B5;
	 padding: .5em; font-size: .75em;
}
.PEImgBlock fieldset legend {
	color: #000000;	background-color:#F2F8FE;
}

.PEGMapsBlock{
	float:left;
	margin:0.5em 0 0 0;
	padding:0;
	width:48.5%;
}
.PEGMapsBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
}
.PEGMapsTextBlock{clear: both;}
.PEGMapsTextBlock fieldset{padding: .5em;  border: 1px solid #9BA7B5;}
.PEGMapsTextBlock fieldset legend {font-size: .75em;}

/* Oggetto Multimedia */
.PEMMObjBlock{
	width: 49%;	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.PEMMObjBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
	 font-size: .75em;
}
.PEMMObjBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEMMSizeBlock{
	width: 49%;	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.PEMMSizeBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em; font-size: .75em;
}
.PEMMSizeBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEMMDescBlock{
	clear: both; 	font-size: .75em;
	margin: .5em 0 0 0;
}
.PEMMDescBlock textarea{
	 border: 1px solid #9BA7B5;
	 font-size: 1.2em;	 vertical-align:top;
}

/* Oggetto Video Sottotitolato */
.PEVideoFFBlock{
	width: 49%;	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.PEVideoFFBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
	 font-size: .75em;
}
.PEVideoFFBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEVideoTFBlock{
	width: 49%;	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.PEVideoTFBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
	 font-size: .75em;
}
.PEVideoTFBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEVideoSizeBlock{
	width: 49%;	float: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.PEVideoSizeBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
	 font-size: .75em;
}
.PEVideoSizeBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEVideoTypeBlock{
	 font-size: .75em;
}

/* Oggetto Link */
.PELinkImgBlock{
}
.PELinkImgBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
	 font-size: .75em;
}
.PELinkImgBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PELinkLinkBlock{
	width: 49%;	float: right;
	border: 1px solid #9BA7B5;
	padding: .5em;	margin: 1em 0 0 0;
	font-size: .75em;
}
.PELinkLinkBlock img, .PELinkLinkBlock input{
	vertical-align:middle;
}
.PELinkLinkBlock input{
	border: 1px solid #7F9DB9;	margin: 1px;
}

/* Oggetto Download */
.PEDWImgBlock, .PEDWFileBlock{
	width: 47.5%;	float: right;
	font-size: .75em;	border: 1px solid #9BA7B5;
	margin: 1em .5em 0 0;	padding: .5em;
}
.PEDWImgBlock fieldset, .PEDWFileBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
}
.PEDWImgBlock fieldset legend, .PEDWFileBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEDWFileBlock input{
	border: 1px solid #7F9DB9;
	margin: 1px;	vertical-align:middle;
}
.PEDWImgBlock input{
	border: 1px solid #7F9DB9;
	margin: 1px;	vertical-align:middle;
}

/* Tabella */
.PETableSizeOpt fieldset{
	border: 1px solid #9BA7B5;
	width: 19%;	float: left;
	margin: 0 .5em 0 0;	padding: .5em;
}
.PETableHOpt fieldset{
	border: 1px solid #9BA7B5;
	width: 17%;	float: left;
	margin: 0 .5em 0 0;	padding: .5em;
}
.PETableOtherOpt fieldset{
	border: 1px solid #9BA7B5;
	width: 56%;	float: left;
	margin: 0 .5em 0 0;	padding: .5em;
}
.PETableBorderOpt fieldset{
	border: 1px solid #9BA7B5;
	margin: 0 .5em 0 0;	padding: .5em;
	clear: both;
}
.PETableSizeOpt input, .PETableOtherOpt input, .PETableBorderOpt input{
	border: 1px solid #7F9DB9;
}
.PETableOtherOpt textarea{
	border: 1px solid #7F9DB9;	overflow: hidden;
}
.PETableSizeOpt fieldset legend, .PETableHOpt fieldset legend,
.PETableOtherOpt fieldset legend, .PETableBorderOpt fieldset legend{
	color: #000000;	background-color:#BAD0E8;
}
.PETableSumBlock{
	font-size: .75em;
}
.PETableSumBlock input{
	vertical-align: middle;
	border: 1px solid #7F9DB9;
}
.PETableTableBlock textarea{
	border: 1px solid #7F9DB9;	width: 100%;
}
.PETableTableBlock label{font-size: .7em;}
.PETableBorderOpt fieldset input, .PETableBorderOpt fieldset a{
	vertical-align:middle;
}

.PETableTableBlock .PEDWImgBlock, .PETableTableBlock .PEDWFileBlock{
	width: auto;	float: none;
	font-size: 1em;	border: none;
	margin: 1em .5em 0 0;	padding: .5em;
}
.PETableTableBlock .PETableObjSelector {display: block; border-bottom: 1px solid #000;}
.PETableTableBlock .PEDWImgBlock legend, .PETableTableBlock .PEDWFileBlock legend{
	font-size: .75em;
}
.PETableTableBlock .PEDWFileBlock .editLinkText{
	font-size: .55em;
}
.PETableTableBlock .PEDWFileBlock fieldset a{ font-size: .75em;}
a.editTableStructModLink{ color: #009; text-decoration: underline;}
a.editTableStructModLink:hover {text-decoration: none;}

.editExtendedTable {}
.editExtendedTable {padding: 1px; margin: 1px; border-collapse: collapse; border-top: 1px solid #000; border-left: 1px solid #000;}
.editExtendedTable td, .editExtendedTable th {border-bottom: 1px solid #000; border-right: 1px solid #000; vertical-align: top;}

/* Oggetto Elenco Pagine di canale */
.PEChannelList legend{
	color: #000000; background-color: transparent;
	line-height: 2em;
	font-size: .75em;

}
.PEChannelList .PEChannelListChannelBlock legend {font-size: 1em;}

.PEChannelListChannelBlock{
	margin: .5em .5em 0 .5em;
	font-size: .75em;
	clear: left;
}
.PEChannelListModeBlock{
	padding: .5em;
	font-size: .75em;
	width: 60%;
	float:left;
	clear: left;
}
.PEChannelListModeBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em .5em 1em;
}
.PEChannelListModeBlock legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEChannelListTemplateBlock{
	padding: .5em;
	font-size: .75em;
	width: 36%;
}
.PEChannelListTemplateBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em .5em 1em;
}
.PEChannelListTemplateBlock legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEChannelListTemplateBlock input{
	font-size: 1em;
	border:1px solid #7F9DB9;
	margin:1px;
}

.PEChannelListOpt{
	margin: .5em;	padding: .5em;
	font-size: .75em;
	border: 1px solid #9BA7B5;
}
.PEChannelListOpt input{
	vertical-align:middle;
}
.PEChannelListOpt span{
	white-space:nowrap;
}

/* Oggetto Elenco Newsletter */
.PENLListNewsletterBlock{
	padding: .5em;
	font-size: .75em;
	width: 36%;
	float:left;
}
.PENLListNewsletterBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em .5em 1em;
}
.PENLListNewsletterBlock legend{
	color: #000000;	background-color:#F2F8FE;
}
.PENLListTemplateBlock{
	padding: .5em;
	font-size: .75em;
	width: 36%;	float:left;
}
.PENLListTemplateBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em .5em 1em;
}
.PENLListTemplateBlock legend{
	color: #000000;	background-color:#F2F8FE;
}
.PENLListSortBlock{
	padding: .5em;
	font-size: .75em;
	width: 22%;
}
.PENLListSortBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em .5em 1em;
}
.PENLListSortBlock legend{
	color: #000000;	background-color:#F2F8FE;
}

/* Oggetto Ancora */
.PEAnchorBlock{
	border: 1px solid #9BA7B5;
	padding: .5em;
	font-size: .75em;
}
.PEAnchorBlock input{
	vertical-align:middle;
}

/* Oggetto Link ad Ancora */
.PEAnchorLinkBlock{
	border: 1px solid #9BA7B5;
	padding: .5em;
	font-size: .75em;
}
.PEAnchorLinkBlock input{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Form Text */
.PEFormTextBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormTextBlock input, .PEFormTextBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Form Text */
.PEFormTextAreaBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormTextAreaBlock input, .PEFormTextAreaBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Form DropDown */
.PEFormDropDownBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormDropDownBlock input, .PEFormDropDownBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}
.PEFormDropDownBlock textarea{
	vertical-align:top;
}

/* Oggetto Form CheckBox */
.PEFormCheckBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormCheckBlock input, .PEFormCheckBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Form Submit */
.PEFormSubmitBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormSubmitBlock input, .PEFormSubmitBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto MailProc */
.PEFormMailProcBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormMailProcBlock input, .PEFormMailProcBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}
.PEFormMailProcBlock textarea{
	vertical-align:top;
}

/* Oggetto Validator */
.PEFormValidatorBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormValidatorBlock textarea{
	vertical-align:top;
	border: 1px solid #7F9DB9;
}

/* Oggetto Redirect */
.PEFormRedirectBlock{
	padding: .5em;
	font-size: .75em;
}
.PEFormRedirectBlock input, .PEFormRedirectBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}
.PEFormRedirectBlock textarea{
	vertical-align:top;
	border: 1px solid #7F9DB9;
}
.PEFormRedirectBlock fieldset{
	border: 1px solid #9BA7B5;
	margin: 0 .5em 0 0;	padding: .5em;
}
.PEFormRedirectBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}

/* Oggetto Contatore */
.PECounterBlock{
	padding: .5em;
	font-size: .75em;
}
.PECounterBlock input{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Forum */
.PEForumBlock{
	padding: .5em;
	font-size: .75em;
}
.PEForumBlock select{
	vertical-align:middle;
	border: 1px solid #7F9DB9;
}

/* Oggetto Calendario */
.PECalChannelBlock{
	padding: .5em;	margin: .5em .5em 0 .5em;
	font-size: .75em;	border: 1px solid #9BA7B5;
}
.PECalModeBlock{
	padding: .5em;
	font-size: .75em;
}
.PECalModeBlock fieldset{
	border: 1px solid #9BA7B5;
	padding: 0 1em 0 1em;
}
.PECalModeBlock legend{
	color: #000000;	background-color:#F2F8FE;
}
.PECalPageBlock{
	padding: .55em;	margin: .5em .5em .5em .5em;
	font-size: .75em;	border: 1px solid #9BA7B5;
}

/* Oggetto Elenco Oggetti da Libreria */
.PELibChannelBlock{
	padding: .5em;
	margin: .5em;
	font-size: .75em;
	border: 1px solid #9BA7B5;
}
.PELibTypeBlock{
	font-size: .75em;
	padding: 0;
	margin: .5em;
}
.PELibTypeBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;
}
.PELibTypeBlock fieldset legend{
	color: #000000;
	background-color:#F2F8FE;
}

/* Oggetto Importa RSS */
.PERSSBlock{
	padding: .5em;	font-size: .75em;
}
.PERSSDataBlock{
	padding: .5em;	width: 55%;	float:left;
}
.PERSSDataBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em; width: 100%;
}
.PERSSDataBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PERSSTemplateBlock{
	padding: .5em;	width: 36%;
}
.PERSSTemplateBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em; width: 100%;
}
.PERSSTemplateBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}

/* Oggetto Importa Pagina */
.PEImpPageBlock{
	padding: .5em;	font-size: .75em;
}
.PEImpPageSiteBlock{
	padding: .5em;	width: 35%;	float:left;
}
.PEImpPageSiteBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em; width: 100%;
}
.PEImpPageSiteBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}
.PEImpPageDataBlock{
	padding: .5em;	width: 55%;	float:left;
}
.PEImpPageDataBlock fieldset{
	 border: 1px solid #9BA7B5;
	 padding: .5em;	 width: 100%;
}
.PEImpPageDataBlock fieldset legend{
	color: #000000;	background-color:#F2F8FE;
}


/* ---------------------------------- Editor da Modello ---------------------------------- */
.TEBlock{
	color: #000000;	background-color:#F2F8FE;
	padding: 0 0 .5em 0;
}
.TEBlock .PageElementValidation{
	font-size: .7em;
}
.TEBlockFieldset{
	border: none;	border: 1px solid #9BA7B5;
	padding: .5em;
}
.TEBlockFieldset label{
	font-size: .75em;
}
.TEBlockFieldset input.text{
	border: 1px solid #7F9DB9;
}
.TEBlockMainLegend{
	font-weight: bold;	font-size: .75em;
	color: #000000;	background-color:#F2F8FE;
}

/* ---------------------------------- TOOLBAR ---------------------------------- */
#GuidaToolBar{ margin: 3px 3px 0 0; }
#GuidaToolBar a{
	color: #000000;	background-color:#FBF5DD;	border: 1px solid #000000;
	font-weight: bold;	font-size: 1em;	text-decoration: none;

	padding: .2em .6em .2em .6em;
}
#GuidaToolBar a:focus, #GuidaToolBar a:hover, #Guida a:active{
	color: #000000;	background-color:#FFEB00;
}
#LockToolBar{
	float: right; height: 16px; margin: 0 2px;
}
.FlexEditObjectErrorContainer{ /* pulsante Ignora Avvertimenti */
	color: #000000;	background-color: #FFC3C3;
	padding: 2px 2px 2px 3px;
}
#FlexEditToolBar{
	position:absolute; 	left:0; top:0;
	width: 10.5em;	margin: 3px;
	color:#000000;	background-color:#FFFFFF;
	font-family:verdana, arial, sans-serif;	font-size:100%;
}
#FlexEditToolBar input{
	margin: 1px 2px 2px 0;
	width: 20px; height: 20px;
	vertical-align:middle;
}
#FlexEditToolBarTitle{
	font-size:.7em; text-align:right;
	background-image: url(TemplatesCM-img/visualEditor/EditorToolBarTitle.gif);
	border: 1px solid #9BA7B5;
	padding: .2em 0;
	float: left;
	width: 166px;
	min-height: 20px;
}
#FlexEditToolBarTitle img{
	border: none;
}
#FlexEditToolBarSelector{
	margin: 0; padding: 0;
	font-size:.7em;
}
#FlexEditToolBarSelector ul{
	margin: 0; padding: 0;
	list-style-type:none;
}
#FlexEditToolBarSelector ul li{
	display: inline;
	margin: 0;  padding: 0;
}
#FlexEditToolBarSelector ul li a{
	padding:.2em .3em 0em .3em; margin:0;
	color:#000000; background-color:#FFFFFF;
	text-decoration: none;
}
#FlexEditToolBarSelector ul li a.FlexEditToolBarSelectorCurrent{
	padding: .2em 1em 0em .3em;	margin: 0;
	color: #FFFFFF;	background-color:#4C4C4C;
	text-decoration: none;	font-weight: bold;
}
#FlexEditToolBarSelector ul li a:hover,
#FlexEditToolBarSelector ul li a.FlexEditToolBarSelectorCurrent:hover{
	color: #000000;	background-color:#EFF1F2;
}
#FlexEditToolBar-AllUserBlock, #FlexEditToolBar-PageInfoBlock{
	font-size:.7em;
	background-image: url(TemplatesCM-img/visualEditor/EditorToolBarAllUserBox.gif);
	border: 1px solid #9BA7B5;
	margin: 3px 0 3px 0;	padding: 1px 0 4px 4px;
	color:#000000;	background-color: #E9F2FF;
}
#FlexEditToolBar-AllUserBlock input, #FlexEditToolBar-PageInfoBlock input{
	margin: 0; padding: 3px 2px 0 0;
	vertical-align:middle;
	width: 20px; height: 20px;
}
#FlexEditToolBar-TextBlock, #FlexEditToolBar-SepBlock, #FlexEditToolBar-MultiMediaBlock,
#FlexEditToolBar-LinksBlock, #FlexEditToolBar-TableBlock, #FlexEditToolBar-ListerBlock,
#FlexEditToolBar-AnchorBlock, #FlexEditToolBar-FormBlock, #FlexEditToolBar-VariousBlock,
#FlexEditToolBar-ForumBlock, #FlexEditToolBar-GPBlock, #FlexEditToolBar-Extensions, #FlexEditToolBar-RepositoryBlock,
#FlexEditToolBar-XMLBlock, #FlexEditToolBar-ContainerBlock, #FlexEditToolBar-VideoBlock {
	font-size:.7em;
	background-image: url(TemplatesCM-img/visualEditor/EditorToolBarBox.gif);
	border: 1px solid #9BA7B5;
	margin: 0 0 3px 0;	padding: 1px 0 2px 4px;
	color:#000000;	background-color: #EFF1F2;
	width: 14.5em;
}
#FlexEditToolBar-AllUserBlock input.image, #FlexEditToolBar-PageInfoBlock input.image,
#FlexEditToolBar-TextBlock input.image, #FlexEditToolBar-SepBlock input.image,
#FlexEditToolBar-MultiMediaBlock input.image, #FlexEditToolBar-LinksBlock input.image,
#FlexEditToolBar-TableBlock input.image, #FlexEditToolBar-ContainerBlock input.image,
#FlexEditToolBar-LitserBlock input.image, #FlexEditToolBar-AnchorBlock input.image,
#FlexEditToolBar-FormBlock input.image, #FlexEditToolBar-VariousBlock input.image,
#FlexEditToolBar-ForumBlock input.image, #FlexEditToolBar-GPBlock input.image,  #FlexEditToolBar-Extensions input.image,
#FlexEditToolBar-RepositoryBlock input.image, #FlexEditToolBar-XMLBlock input.image {
	padding: 3px 4px 0 0;
	width: 20px; height: 20px;
	border: none;
}
.FlexEditToolBar-Field{
	border: 1px solid #9BA7B5;
	width: 1.3em;
	padding: 0;
}



/* ---------------- CLASSIFCATORE ------------------------- */

.ClassificationFormBlock{
	height: 20em; overflow: auto;
	border: 1px solid #9DA7B5;
	padding: 1px;
}
.ClassificationFormBlock fieldset{
	width: 31%; float: left;
	padding: 2px; margin: 0 2px;
	border: 1px solid #9DA7B5;

}
.ClassificationFormBlock fieldset legend{
	font-weight: bold;
	color: #000000; background-color: transparent;
}

.ClassificationFormBlock fieldset ol {
	list-style-type: none; margin: 0; padding: 0;
	height: 16em;  overflow: auto;
}
.ClassificationFormBlock fieldset ol li {
	text-indent: -2em;
	padding: 0 0 0 2em;
}
.ClassificationFormBlock fieldset ol li input{ vertical-align: middle;}
.ClassificationFormBlock fieldset ol li ol {
	margin: 0 0 0 2em; height: auto;
}
.ClassificationFormBlock fieldset ol li input {border: none;}
.ClassificationStatusBlock{
	font-size: .75em;
}
.ClassificationStatusBlock{
	font-size: .7em;
}
.ClassificationFormStatus {margin: -1.2em 0 0 9em; font-size: .75em;}
