


.lyEditableHighlight {
	background-color: yellow;
	cursor: move;
}


.lyDropZone {
	height: 0px;
	line-height: 0px;

	--background: #FFB2AC;
}

.lyDropZone.active {
	
	height: 10px;
	line-height: 10px;

	background: #FFB2AC;
}

.lyDropZone.hover {
	
	background: red;
}