
.ENCenter {

	text-align: center;
}

.ENBox {

	border: 1px solid black;
	margin: 1px;
	font-family: verdana,helvetica, sans-serif;
	background-color: #CBD3D7;
	position: relative;
	text-align: left;

	width: 60%;
}

.ENTitle {

	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
}

.ENUpdate {

	font-size: 0.6em;
	text-align: center;
	font-style: italic;
}

.ENListItem a {

	font-size: 0.6em;
}