/*
	ATTENZIONE: questo file è processato dalla ServeCSS, quindi i path nelle url() non vanno messi relativi
*/

/* commentata così per i linter */
/*--@processurl off */

.EMWorkaround {
	width: 99%;
}

.BLOBAlignLeft {
	text-align: left;
}

.BLOBAlignCenter {
	text-align: center;
}
.BLOBAlignRight {
	text-align: right;
}
.BlobAlignJustify {
	text-align: justify;
}


.BLOBListSymbolDisc {
	list-style-type: disc;
}
.BLOBListSymbolCircle {
	list-style-type: circle;
}

.BLOBListSymbolSquare {
	list-style-type: square;
}
.BLOBListSymbolDecimal {
	list-style-type: decimal;
}
.BLOBListSymbolNone {
	list-style-type: none;
}




.editTitolo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; width: 100%}
.editSottotitolo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; width: 100% }
.editPar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; width: 100%}
.editParCell { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; width: 100% }
.editImgCell { width: 50%}
.editTextCell { width: 50% }
.editInfo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; width: 100%}
.formCheckbox { font-family: Arial, Helvetica, sans-serif; font-size: 12px }
.formText { font-family: Arial, Helvetica, sans-serif; font-size: 12px ; width: 90%}
.adminText { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
.adminTextTitle { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
.editInfoHDR { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}




.ToolBar {
	background-color: #FFFFEA;
	border: 1px solid #003399;
}
.ToolBarTitle {
	background-image: url(TemplatesCM-img/admin/sfondo-admin-edit.gif);
	border: 1px solid #003399;
}
.ToolBarBLOBObjectTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; font-weight: bold;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px solid #003399;
	border-left: 0px solid;
	background-image: url(TemplatesCM-img/admin/sfondo-admin-edit.gif);
}
.ToolBarBLOBObjectTitleSel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; font-weight: bold;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 1px solid #003399;
	border-left: 0px solid;
	color: #000000;
	background-color: #FF9999;
}
.ToolBarBLOBObjectSep {
	border: 1px solid #003399;
	background-color: #FFFFFF;
}
.ToolBarObj {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.ToolBarBLOBObjectContainer {
	background-color: #D0D8F2;
	border-top: 0px solid;
	border-right: 1px solid #003399;
	border-bottom: 0px solid;
	border-left: 1px solid #003399;
}
.ToolBarBLOBObjectContent {
	background-color: #FFFFEA;
	border-top: 0px solid;
	border-right: 1px solid #003399;
	border-bottom: 0px solid;
	border-left: 1px solid #003399;
}
.ToolBarBLOBObjectSection {
	background-color: #D0D8F2;
	border-top: 0px solid;
	border-right: 1px solid #003399;
	border-bottom: 0px solid;
	border-left: 1px solid #003399;
}
