

/*
*	stili per la tabella delle pagine (Cris)
*/

.rowOver {
	background:	#9fc;
}

.rowSelected {
	background:	#6cf;
}

.mozUnselectable {
	-moz-user-select: none;
}

/*
*	Menu contestuali (Cris)
*/


div.cm {

	position:			absolute;
	visibility:			hidden;
	width:				100px;
	border:				1px solid black;
	padding:			1px;
	background:			white;
}


div.cm a {
	display:			block;
	overflow:			visible;
	padding:			2px 0px 2px 0px;
	font-size:			11px;
	font-family:		Tahoma, Verdan, Helvetica, sans-serif;
	text-decoration:	none;
	vertical-align:		middle;
	color:				black;
	border:				1px solid white;
}

div.cm a:visited,
div.cm a:visited:hover {
	color:	black;
}

div.cm a:hover {
	color:			black;
	background:		rgb(234,242,255);
	border:			1px solid rgb(120,172,255);
}

div.cm a.cmDisabled {
	display:			block;
	overflow:			visible;
	padding:			2px 0px 2px 5px;
	font-size:			11px;
	font-family:		Tahoma, Verdan, Helvetica, sans-serif;
	text-decoration:	none;
	vertical-align:		middle;
	color:				rgb(180, 180, 180);
	border:				1px solid white;
}

div.cm a.cmDisabled:visited,
div.cm a.cmDisabled:visited:hover {
	color:	rgb(180, 180, 180);
}

div.cm a.cmDisabled:hover {
	color:				rgb(180, 180, 180);
	background:			transparent;
	border:				1px solid white;
}

/* separatore */

div.cm span.sep {
	display: block;
	height:			0;
	border-top:		1px solid rgb(120,172,255);
	border-bottom:	1px solid rgb(234,242,255);
	overflow:		hidden;
	margin:			2px 0px 2px 0px;
	font-size:		0mm;
}

#tablePages  tbody tr td.AdminCellPageInfo{
	border-right: 1px solid #97cff1;
}
#tablePages  tbody tr td.AdminIcoCellWide{
	border-left: 1px solid #97cff1;
}
