[[:section:frame]]

<div class='alertbox text-error'>{err}</div>

    {page}

    <div>
        [[ id: btnNext, kind: submit, value: 'Procedi', class: 'btn btn-primary' ]]
        [[ id: btnCancel, kind: submit, value: 'Annulla', class: 'btn' ]]
    </div>

[[:section:page:
	_(language:Lingua)_,
	_(title:Titolo)_,
	_(text:Testo)_,
	_(imagelab:Immagine)_,
	_(delimg:Elimina immagine)_,
	_(linklab:Riferimento pagina web)_,
	_(servDataLab:Dati servizio)_,
	_(allLang:non definita)_
	_(titleErr:Specificare il titolo dell'articolo)_,
	_(textErr:Specificare il testo dell'articolo)_,
	_(embedErr:Specificare i dati per il servizio)_,
	_(artTitleErr:Specificare un titolo per l'articolo)_,
	_(dateErr: La data specificata non è valida)_
	_(noserviceData:Nessun dato specificato per il servizio)_
]]

<div class='well'>
    <h3>
        {this.getCurrentEntityKind}
    </h3>
    <fieldset>
        <legend>_(swallLegend:Dati di base)_</legend>
        <div class='row'>
            <div class='control-group span3'>
                <label for='idSection' class='control-label'>_(section:Sezione)_</label>
	            <div>
	                [[
	                    id: idSection,
	                    kind: DropDown,
	                    values : {this.getSectionDropDown},
	                    class: form-control,
	                    allownull: false,
	                ]]
	            </div>
            </div>

            <div class='control-group span3'>
                <label for='lang' class='control-label'>_(lang:Lingua)_</label>
                <div>
                    [[
                        id: lang,
                        kind: DropDown,
                        values : {this.getLanguagesDropDown},
                        class: form-control,
                        allownull: false,
                    ]]
                </div>
            </div>

            <div class='control-group span3'>
                <label class='control-label'>_(order:Ordinamento)_</label>
                <div>
	                [[
	                    id: sortOrder,
	                    kind: text,
	                    postproc: trim
	                ]]
	            </div>
            </div>
        </div>
        <div class="row">
             <div class='control-group span11'>
                <label for='artTitle' class=' control-label nowrap'>_(groupTitle:Titolo principale)_</label>
                <div>
                    [[
                        id: title,
                        kind: text,
                        class: form-control input-xlarge,
                        postproc: trim
                    ]]
                </div>
            </div>
        </div>
        <div class="row">
             <div class='control-group span5'>
                <label for='dateStart' class='control-label'>_(startDate:Data pubblicazione)_</label>
                <div class='nowrap'>
                    [[
                        id: dateStart,
                        kind: DTChooser,
                        mode: d,
                        format: ts,
                        class: 'input-small',
                        allownull: true
                    ]]
                </div>
            </div>
            <div class='control-group span5'>
                <label for='dateEnd' class='control-label'>_(endDate:Data Scadenza)_</label>
                <div class='nowrap'>
                    [[
                        id: dateEnd,
                        kind: DTChooser,
                        mode: d,
                        format: ts,
                        class: 'input-small',
                        allownull: true
                    ]]
                </div>
            </div>
        </div>
        <div class="row">
             <div class='control-group span5'>
                <label for='isActive' class='control-label nowrap'>_(active:Attivo?)_
                <span>
                    [[
                        id: isActive,
                        kind: Check
                    ]]
                </span>
                </label>
            </div>
            <!-- div class='control-group span5'>
                <label for='languageActive' class='control-label nowrap'>_(languageActive:Contenuto in lingua)_
                <span>
                    [[
                        id: languageActive,
                        kind: Check
                    ]]
                </span>
                </label>
            </div -->
        </div>
    </fieldset>
    <fieldset>
        <legend>_(swall_infoService:Dati relativi al servizio)_ {servizio}</legend>

        {this.formChild}

    </fieldset>
</div>
