

<div class="well misantismog{Livello} ">
	<a href="{urlpaginaantismog}">
		<div class="">Protocollo Misure Antismog</div>
		<div class=""><strong>LIVELLO {Livello} - {LivelloDescrizione}</strong></div>
		<img src="{IMGBASEURL}ICO_Antismog.png" />
	</a>
</div>

<!-- BEGIN livello0 -->
<div class="alert alert-success ">
	<a href="{urlpaginaantismog}">
		<div class="">Protocollo Misure Antismog</div>
		<div class=""><strong>LIVELLO {Livello}</strong></div>
	</a>
</div>
<!-- END livello0 -->

<!-- BEGIN livello1 -->
<div class="alert alert-warning ">
	<a href="{urlpaginaantismog}">
		<div class="">Protocollo Misure Antismog</div>
		<div class=""><strong>LIVELLO {Livello}</strong></div>
	</a>
</div>
<!-- END livello1 -->


<!-- BEGIN livello2 -->
<div class="alert alert-danger ">
	<a href="{urlpaginaantismog}">
		<div class="">Protocollo Misure Antismog</div>
		<div class=""><strong>LIVELLO {Livello}</strong></div>
	</a>
</div>
<!-- END livello2 -->


