<h2>Placeholder valorizzati:</h2>
<dl class="dl-horizontal">
	<dt>Livello - numerico</dt><dd>{Livello}</dd>
	<dt>Livello - descr. testuale</dt><dd>{LivelloDescrizione}</dd>
	<dt>Pagina destinazione</dt><dd>{urlpaginaantismog}</dd>
	<dt>Data Da</dt><dd>{DataDa}</dd>
	<dt>Data a</dt><dd>{DataA}</dd>
	<dt>Note</dt><dd>{Note}</dd>
	<dt>URL Immagini</dt><dd>{IMGBASEURL}</dd>
 </dl> 

<h2>BLOCCHI valorizzati (utilizzano gli stessi placeholder):</h2>

<!-- BEGIN livello0 -->
<div>LIVELLO 0</div>
<!-- END livello0 -->

<!-- BEGIN livello1 -->
<div>LIVELLO 1</div>
<!-- END livello1 -->


<!-- BEGIN livello2 -->
<div>LIVELLO 2</div>
<!-- END livello2 -->

