<div class="tsmog">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">DALLA DATA</th>
        <th scope="col">ALLA DATA</th>
        <th scope="col">LIVELLO</th>
        <!--<th scope="col">NOTE</th>-->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{DataDa}</td>
        <td>{DataA}</td>
        <td class="level{Livello}">Livello: {Livello} - {LivelloDescrizione}</td>
        <!--<td>{Note}</td>-->
      </tr>
    </tbody>
  </table>
</div>


<p class="Sottolineato-Verde"><strong><span class="userFormat3">&nbsp; 0&nbsp; </span>&nbsp;</strong> <em>Nessuna allerta</em></p>
 <p class="Sottolineato-Arancione"><strong><span class="userFormat3">&nbsp; 1&nbsp; </span></strong>&nbsp; <em>Primo livello: 4 giorni consecutivi superiori al valore di 50 μg/m 3</em></p>
 <p class="Sottolineato-Rosso"><strong><span class="userFormat3">&nbsp; 2 &nbsp;</span></strong>&nbsp; <em>Secondo livello: 10 giorni consecutivi superiori al valore di 50 μg/m 3</em>
</p>
