<div class="tsmog">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">DALLA DATA</th>
        <th scope="col">ALLA DATA</th>
        <th scope="col">LIVELLO</th>
        <!--<th scope="col">NOTE</th>-->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{DataDa}</td>
        <td>{DataA}</td>
        <td class="level{Livello}">Livello: {Livello} - {LivelloDescrizione}</td>
        <!--<td>{Note}</td>-->
      </tr>
    </tbody>
  </table>
</div>